*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  font-family: "League Spartan", system-ui, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  background-color: #212121;
  color: #ddd;
}

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar button {
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content {
  padding: 1em;
}

.users-section,
.channels-section,
.message-log-section {
  display: none;
}

.users-section,
.channels-section,
.message-log-section {
  display: none;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #eceff1;
}

#userList,
#channelInfo,
#messageLog {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.user-entry,
.channel-entry,
.message-entry {
  flex: 1 1 calc(33.333% - 1em);
  padding: 1em;
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 1em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.user-entry img,
.message-entry img {
  max-width: 100%;
  border-radius: 50%;
}

.channel-entry p {
  font-size: 1.2em;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.overlay .card {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 400ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 95%;
  background: hsla(var(--hsl), 0.1);
}
